

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}



.App-logo {
  height: 20vmin;
  pointer-events: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 0.7;
  margin: .2em auto 1em auto;
  text-align: left;
  width: 1.875em; 
  color: #61DAFB;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 45px;
  color: #fff;
}


input {
  border: solid 1px #ccc;
  margin: 5px auto;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

button {

  padding: 16px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #82DAF4;
  color: #0D0000;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #282C34;
}

.board {
  background-color: #282C34;
  height: 100vh;
  background-image: url('./gray_logo.svg');
  background-size: 150px;
  background-position: center;
  background-repeat: repeat;

}

.center {
  text-align: center;
}

/*/////////////
board styles
/////////*/
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
  margin: 1em 4em;
  border: solid 1px #ccc;
  padding: 15px;
  border-radius: 3px;
}

.player-box p {
  margin-top: 1em;
  font-weight: bold;
  font-size: 18px;
  font-family: cursive;
}

.boxes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin: 2em auto;
  flex: 1;
  z-index: 10000908;
  position: relative;
  
}

.box {
  background: #eeeeee;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
.player-box {
  background-color: #ffffff;
  border: none;
}





.player-box.active svg g{
  fill: #ffffff;
}

.player1.active {
  background: #FFA000
}

.player2.active {
  background: #3688C3;
}

.player-box svg g {
  fill: #ccc;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
